<%
link_style = "block py-2 text-gray-700 hover:text-indigo-500"
%>
<!-- Mobile Menu -->
<div
  x-show="open"
  x-transition.duration.200ms
  class="px-6 pb-4 md:hidden"
>
  <%= link_to 'Top', root_path, class: link_style %>

  <% if user_signed_in? %>
      <%= link_to current_user.email, edit_user_registration_path, class: link_style %>
      <%= button_to 'Logout',
        destroy_user_session_path,
        method: :delete,
        class: link_style,
        onclick: "return confirm('ログアウトしますか？');" %>
  <% else %>
      <%= link_to 'Login', new_user_session_path, class: link_style %>
      <%= link_to 'Sign up', new_user_registration_path, class: link_style %>
  <% end %>
</div>
