<div class="overflow-x-auto rounded-xl border border-gray-200 bg-white shadow-sm">
  <table class="min-w-full divide-y divide-gray-200 text-sm">
    <thead class="bg-gray-50">
      <tr>
        <th class="app-table-th">ID</th>
        <th class="app-table-th">名前</th>
        <th class="app-table-th">作成日時</th>
        <th class="app-table-th">削除日時</th>
        <th class="app-table-th text-right">操作</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      <% @products.each do |product| %>
        <tr class="transition
         <% if product.discarded? %>bg-gray-300 hover:bg-gray-200<% else %>hover:bg-gray-50<% end %>">
          <td class="app-table-td text-gray-700"><%= product.id %></td>
          <td class="app-table-td font-medium text-gray-900"><%= product.name %></td>
          <td class="app-table-td"><%= product.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="app-table-td"><%= product.discarded_at ? product.discarded_at.strftime("%Y-%m-%d %H:%M") : '' %></td>
          <td class="app-table-td text-right">
            <%= link_to "編集", edit_admin_product_path(product), class: "app-link-normal" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>